html,body {
  background-color: #E4E4E4;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  height: 100%;
  background-image: url(../../public/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 165px;
  background-size: auto;
}




.animated {
  animation: grow-shrink 3s infinite ease-in-out; 
}

@keyframes grow-shrink {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.009); 
  }
  100% {
      transform: scale(1); 
  }
}


.navbar {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

}

.navbar h1 {
  font-size: 32px;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: font-size 0.1s ease-in-out;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100vw;
}
.navbar h1:hover {
  color: antiquewhite;
  font-size: 35px;
  text-decoration: underline;
}

.navbar .logo {
  margin-left: 10px;
}

.roboto {
  font-family: var(--font-roboto);
}


/* copied here  */


.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 5rem;
}

.projects h2 {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  color: #4F493E;
  margin-top: 5rem;
  margin-bottom: 1rem;
}




.project-box {
  background-color: #C0C0C0;
  max-width: 800px;
  width: 100%;
  padding-bottom: 10px;
  border: 8px solid black;

}

#line {
  width: 2px;
  background-color: white;
  height: 80%;
}

.project-title {
  background-color: black;
  color: white;
  width: 100%;
  min-height: 50px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.project-title h1 {
  padding: 10px;
  font-weight: normal;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;

}


.project-content {
  display: flex;
  padding: 10px;
  overflow: visible;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  color: #5F5F5F;
}

.project-content p {
  width: 66%;
}


.project-content img {
  width: 33%;
  background-color: white;
  margin: auto;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.project-content img:hover {
  transform: scale(1.5);
  z-index: 1;
}


@media screen and (max-width: 600px) {
  .animated {
    animation: none;
  }

  .project-content {
      flex-direction: column;
  }
  .project-content img {
      width: 90%;
      margin-top: 15px;
  }

  .project-content p {
      width: 90%;
      margin: auto;
  }

  .project-content img:hover {
      transform: scale(1);
  }
  .nav {
      margin: auto;
      justify-content: center;
  }

  .about {
      width: 95%;

  }
}


.tag {
  background-color: #616161 ;
  display: block;
  width: fit-content;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  height: 25px;
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #B1EE04;
  cursor:default;
}


.tag:hover {
  background-color: #E7D4B5 ;
  color: #4F493E ;
}

.tag-text {
  position: relative;
  top: 5px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  gap: 10px;
  color: #B6C7AA;
  height: fit-content;
  margin: auto;
}

.project-box a {
  width: 80px;
  background-color: #C0C0C0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-box a:hover {
  background-color: #c7bead;
}


.contact {
  height: fit-content;
  min-height: 5rem;
  margin-bottom: 2rem;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contact-title {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  color: #4F493E;
  margin-top: 5rem;
  padding: 10px;
  background-color: #4F493E;
  color: #E7D4B5;
}


.contact p{
  font-size: 26px !important;
}
.social-item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  margin: auto;
  font-size: large;
  transition: scale .1s ease-in-out;
}

.social-item:hover {
  cursor: pointer;
  scale: 1.15;
  border-radius: 10px;
}

.socials {
  display: flex;
  gap: 40px;
  height: fit-content;
  align-self: center;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .socials {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .project-title {
      flex-direction: row;
      flex-wrap: wrap;
  }


  .project-title a{
      height: 50px;
  }
}

.contact a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

* {
  scroll-behavior: smooth;
}