.detail-button {
    background-color: black;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-button:hover{
    background-color: rgba(0, 0, 0, 0.622);
}

