/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./public/fonts/fonts.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: 'Wilker';
    src: url(/_next/static/media/Wilker-drVwl.016df814.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(/_next/static/media/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.4900f051.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(/_next/static/media/Roboto_Flex,Roboto_Mono.a8417a55.zip) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/Components/CommandPromptText/CommandPromptStyles.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
/* @import url('/public/fonts/fonts.css'); */


.cmd-wrapper {
    margin: 2rem;
    transition: scale 0.2s ease-in-out;
}


.cmd-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    background-color: black;
}

.cmd-top .left-group {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cmd-top .logo {
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

.cmd-top h1 {
    color: white;
    margin-left: 10px;
    font-size: larger;
    align-items: center;
    justify-content: center;
}

.cmd-top .box-group {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 100%;

    text-align: center;
}

.cmd-top .box {
    width: 32px;
    height: 32px;
    background-color: #222;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmd-content-wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cmd-content {
    background-color: #222;
    color: white;
}
.cmd-content p {
    line-height: 22.5px;
    margin-left: 5px;
    font-family: monospace;
    /* word-spacing: 5px; */
    letter-spacing: 1.2px;
}

.subheading {
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    color: #2E2E2E;
}

.bio-subtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 36px;
}

.bio-container {
    max-width: 1425px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.me-image {
    position: relative;
    left: 20px;
    top: 120px;
}



@media only screen and (max-width: 1355px) {
    .bio-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    .me-image {
        margin-bottom: -230px;
        scale: 0.6 !important;
        left: 0px;
        top: 10px;
    }

    body {
        background-size: 1300px !important;
        background-position: center 170px;
    }

    .projects-container {
        background-color: inherit;
        width: 100%;
        margin: none;
    }
}

@media only screen and (max-width: 425px) {
    .bio-subtext {
        font-size: 7vw;
        margin-left: 12px;
    }
}


@media only screen and (max-width: 725px) {
    .nav-item {
        display: none;
    }
    #line {
        display: none;
    }
    #bio-title {
        display: none;
    }

    .bio-container {
        position: relative;
        top: 50px;
    }

    body {
        background-size: 1000px;
        background-position: center 70px !important;
    }
}

@media screen and (max-width: 645px) {
    body {
        background-size: 800px 430px !important;
        background-position: -85px 70px !important;
    }
}
@media screen and (max-width: 480px) {
    body {
        background-size: 800px 430px !important;
        background-position: -85px 70px !important;
    }
    .image-container {
        display: flex;
        justify-content: right;
        margin-left: 20%;
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/Components/ProjectDetails/ProjectDetails.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/Components/SlideButton/index.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/


.v-wrapper{
    width: 100%;
    cursor: pointer;
    background-color: black;
    z-index: 1;
}

.v-wrapper a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;
    transition: all .35s;
}


.v-wrapper a span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 100%;
}

.v-wrapper a:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #2f2a21;;
    transition: all ease-in-out .35s;
}

.v-wrapper a:hover{
    color: #eee;
}

.v-wrapper a:hover:after{
    height: 100%;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/Components/Skills/index.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.skill-item {
    padding: 8px;
    box-shadow: 0 0 5px 0px #2f2a2137;
    width: -moz-fit-content;
    width: fit-content;
    cursor: default;
    border-radius: 5px;
}

.skill-item p {
    color: #2f2a21;
    word-spacing: -1px;
}

.skills-list-container{
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skills {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.skill-item:hover {
    background-color: #2f2a21;
    color: white;
    transition: all .15s ease-in-out;
}


.skill-item:hover p {
    color: white;
    transition: all .15s ease-in-out;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/Components/Whoami/index.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.about-me {
    margin: auto;
    margin-top: 4rem;
    width: 80%;

    max-width: 900px;
}

.about-me p {
    line-height: 18px;
    letter-spacing: 1px;
    color: #2f2a21;
    max-width: 400px;
}

.about-me .inner {
    box-shadow: #38241c33 0 0 5px 0;
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 100%;
}

.about-me img {
    border-radius: 10px;

}

@media screen and (max-width: 660px) {
    .about-me .inner img {
        display: none;
    }
    #vline {
        display: none;
    }

}

#vline {
    height: 250px;
    width: 2px;

    background-color: #9797975d;
}
