* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    font-size: inherit; /* Inherit font size */
    color: inherit; /* Inherit text color */
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow: visible;

}


a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

button {
    color: #4F493E ;
    background-color: #E7D4B5 ;
    padding: 5px;
    border: 3px solid #B6C7AA;
}

button:hover {
    cursor: pointer;
    background-color: rgb(242, 221, 185);
}

body {
    background-color: #F6E6CB;
    z-index: 1;
    overflow-x: hidden;
}


/* NAV  */

.nav a {
    cursor: pointer;
}

.nav {
    background-color: #A0937D;
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    position:fixed;
    width: 100vw;
    z-index: 999;
}

.nav ul {
    display: flex; 
    gap: 10px; 
    padding: 10px;
    
}

.nav ul:hover {
    cursor: pointer;
    background-color: #c7bead;
}

.nav li {
    color: #4F493E;
}

/* NAV END */


/* HEADER */

.header {
    width: 100vw;
    margin-top: 40px;
}

.header-content{
    text-align: center;
    color: #4F493E;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-content h1 {
    font-size: 64px;
    font-weight: normal;
}

.header-content button {
    width: 150px;
    margin: auto;
    margin-top: 25px;
}
/* HEADER END */


/* ABOUT  */

.about {
    display: flex;
    flex-direction: column;
}

.about h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #4F493E;
    margin-top: 5rem;
    margin-bottom: 1rem;

}

.about-box {
    width: 100%;
    background-color: #E7D4B5;
    padding: 10px;
    max-width: 650px;
    margin: auto;
}


/* ABOUT END */

/* PROJECTS  */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 5rem;
}

.projects h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #4F493E;
    margin-top: 5rem;
    margin-bottom: 1rem;
}




.project-box {
    background-color: #A0937D;
    max-width: 800px;
    width: 100%;
    padding-bottom: 10px;

}

.project-title {
    background-color: #E7D4B5;
    width: 100%;
    min-height: 50px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.project-title h1 {
    padding: 10px;
    font-weight: normal;
    font-size: 24px;
}



.project-content {
    display: flex;
    padding: 10px;
    overflow: visible;
    height: fit-content;
}

.project-content p {
    width: 66%;
}


.project-content img {
    width: 33%;
    background-color: white;
    margin: auto;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    position: relative;
}

.project-content img:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 600px) {
    .project-content {
        flex-direction: column;

    }
    .project-content img {
        width: 90%;
        margin-top: 15px;
    }

    .project-content p {
        width: 90%;
        margin: auto;
    }

    .project-content img:hover {
        transform: scale(1);
    }
    .nav {
        margin: auto;
        justify-content: center;
    }

    .about {
        width: 95%;

    }
}


.tag {
    background-color: #4F493E ;
    display: block;
    width: fit-content;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    height: 25px;
    margin: 2px;
}

.tag:hover {
    background-color: #E7D4B5 ;
    color: #4F493E ;
}

.tag-text {
    position: relative;
    top: 2px;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    gap: 10px;
    color: #B6C7AA;
    height: fit-content;
    margin: auto;
}

.project-box a {
    max-width: 100px;
    min-width: 100px;
    background-color: #A0937D;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-box a:hover {
    background-color: #c7bead;
}

/* PROJECTS END */

/* CONTACT  */

.contact {
    background-color: #A0937D;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
}

.contact-title {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #4F493E;
    margin-top: 5rem;
    padding: 10px;
    background-color: #4F493E;
    color: #E7D4B5;
}

.contact img {
    width: 50px;
}

.social-item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin: auto;
    font-size: large;
}

.social-item:hover {
    cursor: pointer;
}

.socials {
    display: flex;

    gap: 20px;
    height: fit-content;
    align-self: center;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .socials {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .project-title {
        flex-direction: row;
        flex-wrap: wrap;
    }


    .project-title a{
        height: 50px;
    }
}

/* CONTACT END  */

